.vscode/**
.vscode-test/**
.vscode-dev-user-data/**
.vscode-dev-extensions/**
.github/**
.env
.env.*
.node-version
out/**
node_modules/**
scripts/**
src/**
.prettierignore
.prettierrc
AGENTS.md
.gitignore
.npmignore
.yarnrc
svelte.config.mjs
tsconfig.test.json
vite.config.ts
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
