.vscode/**
.vscode-test/**
.vscode-dev-user-data/**
.vscode-dev-extensions/**
out/**
node_modules/**
scripts/**
src/**
.gitignore
.yarnrc
svelte.config.mjs
tsconfig.test.json
vite.config.ts
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
